*{
    margin: 0;
}

body {
    font-family: 'Poller One', cursive;
    background-image: url("images/sky.jpg");
    color: yellow;
    background-attachment: fixed;
}

header{
    border-radius: 15px 15px 0 0;
    background-color: rgba(60, 69, 67, 0.6);
}

nav > ul {
    list-style: none;
    position: fixed;
    top: 5px;
}

header > h1 {
    text-align: center;
    padding: 1em 0;
}

nav li {
    display: inline;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255,245, 120, 0.6);
    cursor: pointer;
}

footer {
    border-radius: 0 0 15px 15px;
    background-color: rgba(60, 60, 60, 0.6);
    clear: both;
}

.left{
    float: left;
    margin: 5px 15px 0 5px;
}

.right{
    width: 480px;
    float: right;
    margin: 5px 5px 0;
}

.right div {
    float: right;
}

.right img {
    width: 160px;
    height: 120px;
    box-shadow: none;
}

.farGalaxy {
    font-size: 1.5em;
    text-align: justify;
    letter-spacing: 0.2em;
    line-height: 1.5em;
}

/* .right table {
    border: 1px solid whitesmoke;
    border-radius: 0 0 15px 15px;
} */

img{
    box-shadow: rgba(60, 69, 67, 0.6) 10px 10px;
}

.bottom-left{
    border-bottom-left-radius: 15px;
}

.bottom-right{
    border-bottom-right-radius: 15px;
}

.button {
    margin-top: 4em;
    border: 2px solid white;
    border-radius: 5px;
    width: 12em;
    height: 2em;
    background-color: rgba(255,245, 120, 0.6);
    cursor: pointer;
}

.button > p{
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.4em;
}


.email{
    font-size: 1.2em;
    color: black;
    font-variant: small-caps;
}
.right > div {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 380px;
    justify-content: space-around;
    align-items: center;
}

.right h2{
    text-align: center;
}